

footer{
    margin-top:100px;
    padding:20px;
    background-color: $lightGreen;  
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:14.7px;
    font-weight:600;
}